@import './bootstrap.min.css';
@import './navbar.css';
@import './footer.css';
@import './welcome.css';
@import './redirect.css';

html, body, header, footer, section, article, div, span,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.app {
  font-family: sans-serif;
}

#links > li:hover,
.signup-button:hover,
.logo:hover,
.login-button:hover {
  cursor: pointer;
}

#a {
  text-decoration: none;
  color: inherit;
}
