.footer {
  background: #31404e;
  min-height: 100px;
  padding: 50px 70px;
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #ffffff;
}

.footer > div {
  width: 33vw;
}

.footer-logo > img {
  width: auto;
  height: 35px;
  margin-bottom: 30px;
}

.about {
  display: flex;
  justify-content: center;
}

.about-links > div {
  display: block;
  padding-left: 16vw;
}

#about-links > li {
  list-style: none;
  color: #cccccc;
  margin-top: 10px;
}

#about-links > li > a:hover {
  color: #cccccc;
}

#about-links > li > a {
  text-decoration: none;
}

#copyright {
  font-size: 0.8em;
  font-weight: lighter;
}
