.nav-bar {
  background: #ffffff;
  width: 100vw;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px #dbdbdb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.logo > img {
  width: auto;
  height: 35px;
}

.links {
  display: block;
}

#links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links > li {
  list-style: none;
  margin-right: 25px;
  color: #7e7e7e;
}

#links > li:hover {
  color: #18bb98;
}

.signup-button {
  border: 1px solid #fc8041;
  border-radius: 3px;
  width: 163px;
  min-width: 163px;
  height: 36px;
  background: #fc7835;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.15s ease;
}

.signup-button:hover {
  background: #de5302;
  transition: background 0.15s ease;
}

.signup-button:active {
  background: #ec971f;
  transition: background 0.15s ease;
}
