.welcome {
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #555555;
  font-weight: 300;
  margin-top: 150px;
  display: block;
}

.login {
  margin: 100px 0;
}

.login > div {
  display: block;
  margin: auto;
  width: 600px;
  text-align: center;
}

.login > div:nth-child(2) {
  margin: 25px auto;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border: 1px solid red;
  width: 250px;
  min-width: 250px;
  height: 50px;
  background: #38b49d;
  border: 1px solid #38b49d;
  border-radius: 3px;
  color: #ffffff;
  transition: background 0.15s ease;
}

.login-button:hover {
  background: #18bb98;
  border: 1px solid #18bb98;
  transition: background 0.15s ease;
}

.login-button:active {
  background: #449d44;
  border: 1px solid #255625;
  transition: background 0.15s ease;
}

.login-button > a {
  text-decoration: none;
}

.login-button > a:hover {
  color: #ffffff;
}

#footnote {
  font-size: 0.6em;
  font-weight: lighter;
  width: 480px;
  margin: 0 auto;
  text-align: center;
}

.artwork > img {
  display: block;
  height: auto;
  width: 100vw;
}
